.category.text-info a:nth-child(6n) {
  color: #4caf50 !important;
}
.category.text-info a:nth-child(6n+1) {
  color: #ff9800 !important;
}
.category.text-info a:nth-child(6n+2) {
  color: #00E5FF !important;
}
.category.text-info a:nth-child(6n+3) {
  color: #f44336 !important;
}
.category.text-info a:nth-child(6n+4) {
  color: #51A1FC !important;
}
.category.text-info a:nth-child(6n+5) {
  color: #e91e63 !important;
}

.pagination {
  width: auto;
}
.blog-image {
  width: 100%;
  max-width: 600px;
  display:block;
  margin:auto;
  padding-bottom: 20px;
}
.article-section {
  padding: 0 0 70px 0;
}

.narrow-main {
  max-width: 800px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.row.padded-bottom {
  padding-bottom: 30px;
}
.padded-sides {
  padding-left: 30px;
  padding-right: 30px;
}
.spaced-rows .row {
  padding-top: 15px;
  padding-bottom: 15px;
}
.spaced-rows .row:first-child {
  padding-top: 0px;
  padding-bottom: 15px;
}
div.avatar {
  border-radius: 50%;
  background-image: url('/images/avatar.jpg');
  width: 120px;
  height: 120px;
  background-position: center center;
  background-size: cover;
  margin: 15px auto;
}