a {
  color: #337ab7;
}

.category.text-info a:nth-child(6n) {
  color: #4caf50 !important;
}
.category.text-info a:nth-child(6n+1) {
  color: #ff9800 !important;
}
.category.text-info a:nth-child(6n+2) {
  color: #00E5FF !important;
}
.category.text-info a:nth-child(6n+3) {
  color: #f44336 !important;
}
.category.text-info a:nth-child(6n+4) {
  color: #51A1FC !important;
}
.category.text-info a:nth-child(6n+5) {
  color: #e91e63 !important;
}

.pagination {
  width: auto;
}
.blog-image {
  width: 100%;
  display:block;
  margin:auto;
  padding-bottom: 20px;
}
.article-section {
  padding: 0 0 70px 0;
}

.narrow-main {
  max-width: 800px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.row.padded-bottom {
  padding-bottom: 30px;
}
.padded-sides {
  padding-left: 30px;
  padding-right: 30px;
}
.spaced-rows .row {
  padding-top: 15px;
  padding-bottom: 15px;
}
.spaced-rows .row:first-child {
  padding-top: 0px;
  padding-bottom: 15px;
}
div.avatar {
  border-radius: 50%;
  background-image: url('/images/avatar.jpg');
  width: 120px;
  height: 120px;
  background-position: center center;
  background-size: cover;
  margin: 15px auto;
}
.btn-social {
  background: #fff;
  border: 0px solid #ccc;
  box-shadow: none;
  color: #323538;
}
.btn-social-small {
  background: #323538;
  border: 1px solid #323538;
  color: #999999;
  box-shadow: none;
  margin-top: 0px;
}
.btn-social-about:hover { background: #D1BA52; }
.btn-social-linkedin:hover { background: #0077b5; }
.btn-social-facebook:hover { background: #4367b1; }
.btn-social-youtube:hover { background: #fe0101; }
.btn-social-twitter:hover { background: #55acee; }
.btn-social-github:hover { background: #24292f; }
.btn-social-rss:hover { background: #ffa500; }
.btn-webchat:hover { background: #4367b1; }
.btn-github { line-height: 20px; }

.connected-title {
  margin-bottom: 4px;
}
.single-posts-wrap, .blog-posts-wrap {
  padding-left: 30px;
  padding-right: 30px;
}

article li > img, article li > div > img {
  margin-top: 10px;
  margin-bottom: 15px;
}

[class^="sm-"] > img {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.sm-100 > img { max-height: 100px; }
.sm-150 > img { max-height: 150px; }
.sm-200 > img { max-height: 200px; }
.sm-250 > img { max-height: 250px; }
.sm-300 > img { max-height: 300px; }
.sm-350 > img { max-height: 350px; }
.sm-400 > img { max-height: 400px; }
.sm-500 > img { max-height: 500px; }

iframe.chatbot {
  width: 100%;
  height: 500px;
  border: 1px solid #ececec;
  display: none;
}
.active > iframe.chatbot {
  display: block;
}
.chatbot-button {
  background-color: #337ab7;
}
.active > .chatbot-button {
  display: none;
}

footer {
  color: #fff !important;
}